
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- pie.html -->
            <footer id="main-footer">
                <br>
                Aviso Legal. 
                <address>
                    Responsables del ejercicio: Alumnos de Ingenieria en siatemas computacionales. 
                    Instituto Tecnol&oacute;gico de Orizaba.
                </address>
            </footer>
        </div>
    </body>
</html>

